<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Suma Numeros!</title>
  </head>
  <body>
  	<h1>Mi cuenta es: <%= @contador %></h1>
  	<form action="/aumento" method="post">
  	  <input type="hidden" name="suma" value="<%= @contador %>">
      <input type="submit" value="Suma!!">
    </form>
  </body>
</html>